* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: rgb(226, 226, 219);
  color: rgb(245, 238, 238);
  margin: 8px;
}
.container {
  height: 100vh;
  justify-content: center;
  align-items: center;
  display: flex;
}

.calculator {
  border-radius: 20px;
  width: 350px;
  padding: 3px;
  height: 425px;
  border: 2px solid black;
  background-color: rgb(8, 8, 8);
}

/* Display Part */

.calculate {
  border-radius: 10px;
  max-width: 340px;
  min-height: 30px;
  background-color: rgb(23, 26, 26);
  color: rgb(235, 234, 234);
  font-size: 20px;
  font-weight: 700;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  text-align: right;
  vertical-align: text-top;
  line-height: 25px;
}
.output {
  border-radius: 10px;
  max-width: 340px;
  min-height: 30px;
  background-color: rgb(20, 20, 19);
  color: rgb(242, 247, 247);
  font-size: 23px;
  font-weight: bold;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  text-align: right;
  vertical-align: text-top;
  line-height: 30px;
}

/* Button */
button {
  position: relative;
  height: 70px;
  width: 90px;
  color: white;
  outline: 2px solid rgba(36, 87, 100, 0.856);
  border: none;
  background: #161616;
  font-family: Share Tech Mono, monospace;
  font-size: 20px;
  cursor: default;
  font-weight: bold;
  border-radius: 20px;
}
div {
  display: block;
}

.stat {
  color: #161616;
  width: 80px;
  background-color: rgb(129, 136, 112);
}
.stat:hover {
  background-color: rgb(146, 158, 134);
  transform: scale(1.1);
}

.ac {
  margin: -2px;
  width: 82px;
  background-color: rgb(167, 153, 125);
}
.ac:hover {
  background-color: rgb(145, 135, 115);
  transform: scale(1.1);
}

#divide {
  width: 88px;
  margin: -3px;
  background-color: rgb(148, 189, 180);
}
#divide:hover {
  background-color: rgb(134, 168, 161);
  transform: scale(1.1);
}

#multiply {
  width: 88px;
  background-color: rgb(147, 177, 139);
}
#multiply:hover {
  background-color: rgb(151, 182, 143);
  transform: scale(1.1);
}

#sub {
  margin: -3px;
  width: 88px;
  background-color: rgb(102, 106, 129);
}
#sub:hover {
  background-color: rgb(98, 103, 128);
  transform: scale(1.1);
}

#add {
  float: right;
  margin-left: -3px;
  width: 88px;
  height: 70px;
  background-color: rgb(143, 120, 120);
}
#add:hover {
  background-color: rgb(153, 133, 133);
  transform: scale(1.1);
}

#seven {
  height: 70px;
  width: 80px;
}
#eight {
  height: 70px;
  width: 81px;
  margin: -3px;
}
#nine {
  height: 70px;
  width: 88px;
}
#four {
  height: 70px;
  width: 80px;
}
#five {
  height: 70px;
  width: 81px;
  margin: -3px;
}
#six {
  height: 70px;
  width: 88px;
}
#one {
  width: 80px;
}
#two {
  height: 70px;
  width: 81px;
  margin: -3px;
}
#three {
  height: 70px;
  width: 88px;
}
#decimal {
  height: 74px;
  width: 88px;
  margin: -3px;
}
#equal {
  float: right;
  height: 145px;
  width: 88px;
  margin-top: -70px;
  margin-left: -3px;
  background-color: rgb(115, 134, 146);
}
#equal:hover {
  background-color: rgb(99, 127, 145);
  transform: scale(1.1);
}

/* #equal:disabled {
  opacity: 1;
  pointer-events: none;
} */

#zero {
  margin-top: 1px;
  width: 162px;
  height: 74px;
}

button:hover {
  background-color: antiquewhite;
  color: black;
  outline: 2px solid rgba(214, 178, 15, 0.952);
  z-index: 3;
  transform: scale(1.1);
}

/* Author */
.description {
  display: flex;
  align-items: center;
  color: black;
  font-size: 28px;
  justify-content: center;
  margin-top: 15px;
  font-weight: 500;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
